body,
input {
    color: #777;
}


body {
    background: #eee;
}


#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }

.content {
    margin: 0;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
}

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    color: white;
}

    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }


   
     #menu ul {
        border: none;
        background: transparent;
        list-style: none;
    }


   
    #menu .menu-item-divided {
        border-top: 1px solid #333;
    }

        #menu li a:hover,
        #menu li a:focus {
            background: #333;
        }


    #menu .menu-selected,
    #menu .menu-heading {
        background: #1f8dd6;
    }   
  
        #menu .menu-selected a {
            color: #fff;
        }


    #menu .menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
        max-width: 150px;
    }
    #menu .inner-menu > a,
    #menu .inner-menu > ul  {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    #menu .inner-menu > ul{
    padding-left: 0;}
/* -- Dynamic Button For Responsive Menu ---*/


#layout > .menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

#layout >  .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    #layout > .menu-link span {
        position: relative;
        display: block;
    }

    #layout > .menu-link span,
    #layout > .menu-link span:before,
    #layout > .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

    #layout > .menu-link span:before,
    #layout > .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

    #layout > .menu-link span:after {
            margin-top: 0.6em;
        }

#main {
    max-width : 1024px;
}

/*calculator styles*/

#Calculator form{
    display: block;
    width: 100%;
}
#Calculator form input[type=number] {
    padding: 5px;
    width: 30%;
    height: 50px;
    font-size: 1.5em;
    border: 0;
    background: transparent;
    -moz-appearance: textfield;

}

#Calculator form input[type=number]::-webkit-inner-spin-button, 
#Calculator form input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
}
#Calculator form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
#Calculator form fieldset legend {
    font-weight: bold;

}
#Calculator form fieldset:not(:first-of-type){
    float: left;
    width: 50%;
}
#Calculator form fieldset:first-of-type{
    clear:both;
}


#BolusCalculator button {
    display: block;
    clear:both;
}


#number-input > div {
    display: block;
    padding: 1em;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-bottom: 10px;    
}

#number-input > div > h3 {
    float: right;
}

button {
    display: inline-block;
    border: 0;
    background: linear-gradient(0, #3ba93d, #27842a);
    color: white;
    padding: 20px;
    border-radius: 10%;
}



section#Log {
    border-top: 1px solid #000;
}

/*
Hides the menu at `48em`
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }



}

@media (max-width: 48em) {

    #layout.active {
        position: relative;
        left: 150px;
    }

       #main section#Calculator {
        padding-top: 50px;
    }
    .content {
        padding: 0;
    }

}