*{
    box-sizing: border-box;
}
body,
input {
    color: #777;
}


body {
    background: #eee;
    margin: 0;
    padding: 0;
}

input::selection,
input::-moz-selection {
    background: #27842a; 
  }


#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 200px;
    }

.content {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    line-height: 1.6em;
    width: 100%;
    height: auto;
    overflow: auto;
}

#menu {
    margin-left: -200px; /* "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    color: white;
}

    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }


   
     #menu ul {
        border: none;
        background: transparent;
        list-style: none;
    }


   
    #menu .menu-item-divided {
        border-top: 1px solid #333;
    }

        #menu li a:hover,
        #menu li a:focus {
            background: #333;
        }


    #menu .menu-selected,
    #menu .menu-heading {
        background: #1f8dd6;
    }   
  
        #menu .menu-selected a {
            color: #fff;
        }


    #menu .menu-heading {
        font-size: 1.5rem;
        color: #fff;
        margin: 0;
        width:100%;
        text-align: center;
        padding: 10px;
        min-height: 50px;
    }
    #menu .inner-menu > a,
    #menu .inner-menu > ul  {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    #menu .inner-menu > ul{
    padding-left: 0;}
/* -- Dynamic Button For Responsive Menu ---*/


#layout  .menu-link {
    position: absolute;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: 50px;
    line-height: 50px;
    padding: 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    
}
#layout  .menu-link.active {
    left: 192px;
    background: #191818;
}

#layout .menu-link span {
    display: none;
}

#layout .menu-link:before { 
    display: block;
    content:'\2630'; 
}

#layout .menu-link.active:before { 
    content:'\2717'; 
}

#layout >  .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

#main {
    max-width : 1024px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

/*calculator styles*/
#Calculator .header table tr th, #Calculator .header table tr td{
    text-align: center;
}
#Calculator div#bolus-calculator{
    display: block;
    width: 100%;
}
#Calculator div#bolus-calculator input[type=number] {
    padding: 5px;
    width: 30%;
    height: 50px;
    font-size: 1.5em;
    border: 0;
    background: transparent;
    -moz-appearance: textfield;

}

#Calculator div#bolus-calculator input[type=number]::-webkit-inner-spin-button, 
#Calculator div#bolus-calculator input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
}
#Calculator div#bolus-calculator fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
#Calculator div#bolus-calculator fieldset legend {
    font-weight: bold;

}
#Calculator div#bolus-calculator fieldset:not(:first-of-type){
    float: left;
    width: 50%;
}
#Calculator div#bolus-calculator fieldset:first-of-type{
    clear:both;
}


#BolusCalculator button, #BolusCalculator .button {
    display: block;
    clear:both;
}


#number-input > div {
    display: block;
    padding: 1em;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-bottom: 10px;    
}

#number-input > div > label {
    display: block;
    float: right;
    font-size: 1.5em;
    line-height: 2.6em;
}
.button-container{
    margin-top: 20px;
    display: flex;

}
.button-container.center{
    text-align: center;   
    justify-content: center;
}

button, .button {
    display: inline-block;
    border: 0;
    background: linear-gradient(0, #1f8dd6, #1d6ad6);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.4em;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
}

span#insulin-bolus-total {
    display: block;
    padding: 1em;
    background: linear-gradient(0, #38b561, #27842a);
    border: 0px solid transparent;
    border-radius: 20px;
    margin-bottom: 10px; 
    width: 50%;
    min-width: 240px;
    font-size: 2em;
    margin: 0 auto;  
    text-align: center;
    font-weight: bold; 
    color: #fff;

}

section#Log {
    border-top: 1px solid #000;
}


section#Log .content  ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    overflow: auto;
}

section#Log .content li.row:nth-child(even) {
   background: #ccc;
}


section#Log .content > ul.log-header{
    background: #c0c0c0;
    color: #fff;
 }

 section#Log .content > ul#log-items > li {
     display: block;
     width: 100%;
     height: auto;
     overflow: auto;
     position: relative;
 }
 section#Log .content > ul.log-header > li,
 section#Log .content > ul > li li{
    display: block;
    width: 20%;
    float: left;
    text-align: center;
    font-size: .75em;
}

#Calculator fieldset[id$="-calculations"]{
 width: 33% !important;
}



section#Log a.deleteItem{
    display: block;
    position: absolute;
    left: 5px;
    top: 7px;
    color: white;
    background: tomato;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: .5em;
    height: 10px;
    width: 10px;
    border-radius: 2px;
    line-height: 10px;
    text-align: center;

}

@media (max-width: 48em) {



    #Calculator fieldset[id$="-calculations"]{
        display: block;
        width: 100% !important;
        text-align: center;
        border-bottom: 1px solid #ccc !important;
        margin-bottom: 2px !important;
        height: auto;
        overflow: auto;
       }



       #Calculator fieldset[id$="-calculations"] legend{
        display: block;
        width: 100%;
        padding: 0;
    }

}